h1 {

    text-shadow:
        3px 3px 1px red,
        5px 5px 2px violet,
        8px 8px 3px blue;
    ;

}

h2 {
  text-shadow: 3px 3px 1px violet,
  5px 5px 2px red,
  8px 8px 3px blue; ;
}

h3 {
    text-shadow: 7px 4px 5px blue;
    size: 22px;
}

h4 {
    font-size: 50px;
    text-shadow: 7px 4px 5px blue;
}

.texto {
    text-shadow: 7px 4px 5px blue;

}