@mixin boton {
    font-size: 1em;
    border-radius: 1px solid blue;
    background-color: cornflowerblue;
    margin: 0 auto;
}

.btn {
    @include boton;
}

@mixin encabezados($color) {
    text-shadow: 3px 3px 1px,
 5px 5px 2px violet,
 8px 8px 3px blue; }

h2 {
    @include encabezados(red)
}

